body {
  list-style: none;
  height: auto;
  width: 100%;
  background: linear-gradient(to left, #b029b3, #743275, #291c29);
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
}
.input {
  font-family: "Roboto", sans-serif;
  color: antiquewhite;
  display: flex;
  width: 280px;
  height: 48px;
  letter-spacing: 0.08em;
  border: 1px solid antiquewhite;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: transparent;
  padding-left: 28px;
  margin-left: auto;
  margin-right: auto;
}
.input:focus,
.input:hover {
  outline: none;
  border-color: #b029b3;
}
.input::-webkit-input-placeholder {
  color: antiquewhite;
}

.country-img {
  margin-left: 50px;
}
.country-flag {
  width: 300px;
}
.card {
  font-family: "Roboto", sans-serif;
  color: antiquewhite;
}
